*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board{
    width: 320px;
}

.box{
    margin: 5px;
    width: 150px;
    height: 150px;
    background-color: darkcyan;
    font-size: 3em;
    font-weight: 500;
    color: ghostwhite;
    border-radius: 5px;
}


